<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Service</title>
    <link rel="stylesheet" href="~/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/modal.css">
    <link rel="stylesheet" href="~/css/notifycation.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
